body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.heder-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;     
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25); /*4px 4px*/
    height: 3.625rem; /*58px*/
    padding: 0 4.937rem; /*79px*/
    color: #FFFFFF;
}

.header-nav{
    display: flex;
    align-items: center; 
    gap: 1.562rem; /*25px*/
}

.nav-icon svg path{
    transition: all 0.5s;
}

.nav-icon:not(:last-child){
    padding-right: 1.562rem; /*25px*/
}

.nav-icon:hover svg path{
    fill:#01813F;
}

.nav-line__vertical{
    width: 0.062rem; /*1px*/
    height: 1.187rem; /*19px*/
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.logo{
    font-weight: 700;
    font-size: 1.375rem; /*22px*/
    line-height: 1.375rem; /*22px*/
}

.header-welcome{
    font-size: 0.875rem; /*14px*/
    line-height: 0.875rem; /*14px*/
    align-items: center;
}

.logo-link,
.log-in-link,
.sign-up-link{
    color: #FFFFFF;
    transition: all 0.5s;
}

.logo-link:hover,
.log-in-link:hover,
.sign-up-link:hover{
    color: #01813F;
}

.sing-up-section{
    height: calc(100vh - 3.625rem); /*58px*/
    display: flex;
    justify-content: center;
    align-items: center;    
}

.section-fomm{
    
    width: 27.75rem; /*444px*/
    height: 36.5rem; /*584px*/       
    background: #FFFFFF;
    box-shadow: 0rem 0.25rem 1.125rem rgba(0, 0, 0, 0.52);  /*4px 18px*/
    position: relative;
           
}

.container{
    width: 20.25rem; /*324px*/
    margin: 0 auto;
}

.sing-up-menu{
    display: flex;
    flex-direction: column;
    gap: 0.937rem; /*15px*/
    padding: 1.937rem 0; /*31px*/       
}

.log-in__green{
    color: #3CB878;
}

.fomm-header{
    display: flex;
    justify-content: space-between;    
}

.fomm-title{
    font-size: 1.25rem; /*20px*/
    line-height: 1.25rem; /*20px*/
    color: #434343;
}

.fomm-title::before{
    content: "";
    position: absolute;
    width: 1.125rem; /*18px*/
    height: 1.125rem; /*18px*/
    left: 0rem;
    top: 1.812rem; /*29px*/
    background: #3CB878;
}

.log-in__social-networks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-in__facebook,
.log-in__google{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem; /*160px*/
    height: 3rem; /*48px*/
    font-size: 1rem; /*16px*/
    line-height: 1rem; /*16px*/
    color: #FFFFFF;
    gap: 1.125rem; /*18px*/
}

.log-in__facebook{
    background: #305DB8;  
    transition: all 0.5s; 
}

.log-in__facebook:hover{
    background: #022263;   
}

.log-in__google{
    background: #DF4A32;
    transition: all 0.5s; 
}

.log-in__google:hover{
    background: #AB1F09; 
}

.facebook-line__vertical{
    width: 0.062rem; /*1px*/
    height: 1.75rem; /*28px*/
    left: 3rem; /*48px*/
    top: 0.625rem; /*10px*/
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.google-line__vertical{
    width: 0.062rem; /*1px*/
    height: 1.75rem; /*28px*/
    left: 3rem; /*48px*/
    top: 0.625rem; /*10px*/
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.sing-up-form{
    padding-top: 0.75rem; /*12px*/
}

.option{
    font-size: 0.875rem; /*14px*/
    line-height: 0.875rem; /*14px*/
    color: #848484;
    text-align: center;    
}

.option::before,
.option::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 152px; /*152px*/
	height: 1px; /*1px*/
	background: #F2F2F2;    
}

.sing-up-form{
    display: flex;
    flex-direction: column;
}

.form-item{
    width: 324px; /*324px*/
    height: 44px; /*44px*/
    left: 60px; /*60px*/
    top: 284px; /*284px*/
    border: 0.062rem solid #F2F2F2; /*1px*/
    border-radius: 0.25rem; /*4px*/
    padding: 0.937rem 1.25rem; /*15px 20px*/
    font-size: 0.875rem; /*14px*/
    line-height: 0.875rem; /*14px*/
    color: #BEBEBE;
    margin-bottom: 1rem; /*16px*/
}

input{
    outline: none;
    border: none;
    border: solid 0.062rem #f2f2f2; /*1px*/
}

.form-item:focus {
    background: #FFFFFF;
    box-shadow: 0rem 0.187rem 0.5rem rgba(0, 0, 0, 0.21);  /*3px 8px*/
    border-radius: 4px;
}


.form-text{
    display: inline-block;
    font-size: 0.875rem; /*14px*/
    line-height: 0.875rem; /*14px*/
    color: #434343;    
    padding-left: 0.5rem;  /*8px*/  
}

.form-text_green{
  color: rgba(60, 184, 120, 1);
}

.form-btn{
    width: 20.25rem; /*324px*/
    height: 2.875rem; /*46px*/
    background: rgba(60, 184, 120, 0.8);
    border-radius: 0.25rem; /*4px*/
    border: transparent;
    font-size: 1rem; /*16px*/
    line-height: 1rem; /*16px*/
    color: #FFFFFF;
    margin-top: 1.25rem; /*20px*/
    cursor: pointer;
    transition: all 0.5s; 
}

.form-btn:hover{
    background: rgba(1, 129, 63, 1);
}



